[push]
	default = upstream
[user]
	name = Michael Morris
	email = mtcmorris@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /Users/mtcmorris/.gitignore
[github]
	user = mtcmorris
